@"
# venv
venv/
.venv/
.venv312/

# env local
.env

# python cache
__pycache__/
*.pyc

# sqlite local
db.sqlite3

# static compilado
staticfiles/

# IDE
.vscode/
.idea/
"@ | Out-File -Encoding utf8 .gitignore
