@"
# Entornos virtuales
venv/
.venv/
.venv312/

# Config local
.env

# Compilados Python
__pycache__/
*.pyc

# Archivos de BD locales
db.sqlite3

# Static build (si usas collectstatic)
staticfiles/

# VSCode/IDE
.vscode/
.idea/
"@ | Out-File -Encoding utf8 .gitignore
